html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	width: 1400px;
	margin: 3rem auto;
}

body {
	font-family: var(--font-geist-sans);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

h2 {
	font-size: 1.875rem;
	line-height: 1.375;
	margin-bottom: 1rem;
	margin-top: 3rem;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

@media screen and (max-width: 1024px) {
	body {
		width: 90%;
	}
}
